@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));  
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    margin: 6vh;
    padding-left: 7vw;
    text-align: left;
}

header img {
    width: 120px;
}

h1 {
    margin-top: 10vh;
    font-size: 7vh;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--desaturated-red);
    letter-spacing: 2vw;
}

h1 span {
    font-weight: 600;
    color: var(--dark-grayish-red);
}

p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--desaturated-red);
    padding: 2rem 2.5rem;
    line-height: 1.5rem;
}

.image {
    width: 100vw;
    height: 250px;
    background: url('images/hero-mobile.jpg') center no-repeat;
}

.text {
    display:flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.inputAndButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

input {
    width: 18rem;
    height: 2.7rem;
    border: 1px solid var(--desaturated-red);
    border-radius: 40px;
    padding-left: 1.5rem;
    opacity: 0.5;
    font-family: 'Josefin Sans', sans-serif;
}

input:hover {
    outline: none;
}

input:invalid {
    outline: none;
    border: 2px solid red;
}

input:focus {
    border: 2px solid pink;
}

::placeholder {
    color: var(--desaturated-red);
}

button {
    background: url('images/icon-arrow.svg'),linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-repeat:no-repeat;
    background-position:center;

    position: absolute;

    width: 3.5rem;
    height: 2.7rem;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 10px 20px rgba(206,151,151,0.5);
}

button:hover {
    background: url('images/icon-arrow.svg'),rgb(249, 209, 209);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alert {
    visibility: hidden;
    margin-top: 7px;
    font-size: 12px;
    color: red;
}

@media (min-width: 600px){
    .text {
        padding: 0 10rem;
    }
}

@media (min-width: 1024px){

    body {
        display: grid;
        grid-template-columns: 55vw 45vw;
        grid-template-rows: 20vh 80vh;
    }

    header {
        width: 50vw;
        height: 20vh;
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    header img {
        width: 150px;
    }

    h1 {
        width: 35vw;
        text-align: left;
        letter-spacing: 0.7rem;
        margin-bottom: 0.9rem;
    }

    .image {
        width: auto;
        height: auto;
        background: none;
    }

    .image-container {
        width: 50vw;
        height: 100vh;
        background: url('images/hero-desktop.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        opacity: 0.95;
        grid-area: 1 / 2 / 3 / 3;
    }

    .text {
        width: 50vw;
        height: 70vh;
        text-align: left;
        grid-area: 2 / 1 / 3 / 2;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        padding: 0;
        width: 35vw;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    form {
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input {
        width: 35vw;
    }

    button {
        width: 4.5rem;
    }

    .inputAndButton {
        width: 35vw;
        height: 7vh;
    }

    #alert {
        width: 30vw;
        margin: 8px 1.5rem;
    }

}